.root{
     -fx-background-color: transparent;
    -fx-background-image: url('/images/desert.jpg');
    -fx-background-size: stretch;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-image: url('/images/pyramid_cube.png');
    -fx-background-size: stretch;
    -fx-alignment: center;
}

.label {
    -fx-background-color: transparent;
    -fx-background-image: url('/images/pyramid_cube.png');
    -fx-background-size: stretch;
    -fx-alignment: center;
}

.button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6) , 5, 0.0 , 1 , 1);
}
.ImageView{
    -fx-alignment: BASELINE_RIGHT;
    -fx-background-image: url('/images/batfarao_topog.gif');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;    
}

#sellerPyramidTop{
    -fx-background-color: transparent;
    -fx-background-image: url('/images/pyramid_top.png');
    -fx-background-size: stretch;
}

#ownPyramidTop{
    -fx-background-color: transparent;
    -fx-background-image: url('/images/pyramid_top.png');
    -fx-background-size: stretch;
}
